* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

h1 {
    display: flex;
    align-items: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
    color: aliceblue;
    padding: 8px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    color: aliceblue;
    background-color: royalblue;
    border-radius: 12px;
    padding: 14px 40px;
    border: aliceblue;
    border-style: groove;
}

.button:hover {
    background-color: aliceblue;
    color: royalblue;
    cursor: pointer;
}

form {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 7px;
    margin: 7px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

#curr-name{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
    color: royalblue;
}